<div ng-include="'../../layout/topnav.html'"></div>
<div ng-include="'locations/views/partials/location.client.header.html'"></div>

<div class="container">

      <div class="row row-offcanvas row-offcanvas-right">

        <section name="sidebar" ng-include="'locations/views/partials/location.client.sidebar.html'">
        </section>

        <div class="col-xs-12 col-sm-9">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>

          <div class="row">

            <!-- The location view -->
            <section data-ng-controller="validationDataController" data-ng-init="findOneValidation()">
              <div class="container">
                  <div class="col-md-9">
                      <div class="row">
                          <h3 class="dark-grey">Validation Data</h3>
                          <h5 class="dark-grey">Location Name: <span>{{location.name}}</span></h5>

                      </div>

                      <hr>

                      <div class="row">

                        <!--AngularJS SPA CRUD table-->
                        <table class="table table-condensed table-hover table-striped" ng-hide="loading">
                            <!-- Header-->
                            <tr class="panel-title">
                                <!--Buttons column-->
                                <th style="width: 100px;">
                                    <!--Add + Cancel-->
                                    <div class="btn-toolbar"><i class="btn glyphicon glyphicon-plus" ng-click="toggleAddMode()" title="Add" ng-hide="addMode"></i></div>
                                    <div class="btn-toolbar"><i class="btn glyphicon glyphicon-minus" ng-click="toggleAddMode()" title="Cancel" ng-show="addMode"></i></div>
                                </th>

                                <!-- Content columns-->
                                <th style="vertical-align:middle">Name</th>
                                <th style="vertical-align:middle">Value</th>
                                <th style="vertical-align:middle">Status</th>
                            </tr>

                            <!--Row with the new item-->
                            <tr ng-show="addMode" style="background: rgb(251, 244, 222)">
                                <!--Buttons column-->
                                <td>
                                    <div class="btn-toolbar">
                                        <!--Create + Cancel-->
                                        <div class="btn-group">
                                            <i class="btn glyphicon glyphicon-floppy-disk" ng-click="createItem()" title="Create" ng-disabled="addForm.$invalid"></i>
                                            <i class="btn glyphicon glyphicon-remove" ng-click="toggleAddMode()" title="Cancel"></i>
                                        </div>
                                    </div>
                                </td>
                                <!-- Content columns-->
                                <td>
                                    <form name="addForm">
                                        <input type="text" ng-model="newDataItem.name" class="form-control" required placeholder="display name..." ng-keydown="saveOnEnter(dataItem, $event)" required />
                                    </form>
                                </td>
                                <td>
                                    <form name="addForm">
                                        <input type="text" ng-model="newDataItem.value" class="form-control" required placeholder="value..." ng-keydown="saveOnEnter(dataItem, $event)" required />
                                    </form>
                                </td>
                                <td>
                                    <form name="addForm">
                                        <input type="text" ng-model="newDataItem.status" class="form-control" required placeholder="inactive" ng-keydown="saveOnEnter(dataItem, $event)" required />
                                    </form>
                                </td>
                            </tr>

                            <!--Content-->
                            <p> {{validationData | json}}</p>
                            <tr ng-repeat="dataItem in validationData">
                                <!--Buttons column-->
                                <td>
                                    <!--Edit + Delete-->
                                    <div class="btn-toolbar" ng-show="dataItem.editMode == null || dataItem.editMode == false">
                                        <div class="btn-group">
                                            <i class="btn glyphicon glyphicon-edit" ng-click="toggleEditMode(dataItem)" title="Edit"></i>
                                            <i class="btn glyphicon glyphicon-trash" ng-click="showDialog('Delete Confirmation', 'Delete the record?', dataItem)" title="Delete" data-toggle="modal"></i>
                                        </div>
                                    </div>

                                    <!--Save + Cancel-->
                                    <div class="btn-toolbar" ng-show="dataItem.editMode">
                                        <div class="btn-group">
                                            <i class="btn glyphicon glyphicon-floppy-disk" ng-click="updateItem(dataItem)" title="Save" ng-disabled="editForm.$invalid"></i>
                                            <i class="btn glyphicon glyphicon-remove" ng-click="toggleEditMode(dataItem)" title="Cancel"></i>
                                        </div>
                                    </div>
                                </td>

                                <!-- Content columns-->
                                <td style="vertical-align:middle">
                                    <!--Name read mode-->
                                    <span ng-show="dataItem.editMode == null || dataItem.editMode == false" ng-dblclick="toggleEditMode(dataItem)">
                                        {{dataItem.name}}
                                    </span>
                                    <!--Name edit mode-->
                                    <form name="editForm">
                                        <input ng-model="dataItem.name" ng-show="dataItem.editMode" required ng-keydown="updateOnEnter(dataItem, $event)" class="form-control" />
                                    </form>
                                </td>
                                <td style="vertical-align:middle">
                                    <!--Name read mode-->
                                    <span ng-show="dataItem.editMode == null || dataItem.editMode == false" ng-dblclick="toggleEditMode(dataItem)">
                                        {{dataItem.value}}
                                    </span>
                                    <!--Name edit mode-->
                                    <form name="editForm">
                                        <input ng-model="dataItem.value" ng-show="dataItem.editMode" required ng-keydown="updateOnEnter(dataItem, $event)" class="form-control" />
                                    </form>
                                </td>
                                <td style="vertical-align:middle">
                                    <!--Name read mode-->
                                    <span ng-show="dataItem.editMode == null || dataItem.editMode == false" ng-dblclick="toggleEditMode(dataItem)">
                                        {{dataItem.status}}
                                    </span>
                                    <!--Name edit mode-->
                                    <form name="editForm">
                                        <input ng-model="dataItem.status" ng-show="dataItem.editMode" required ng-keydown="updateOnEnter(dataItem, $event)" class="form-control" />
                                    </form>
                                </td>
                            </tr>
                        </table>

                        <!--Loading indicator-->
                        <img src="../images/loading.gif" ng-show="loading" class="center-block" title="Loading..." />

                    </div>


                    </div>

                  </div>
            </section>

          </div><!--/row-->
        </div><!--/.col-xs-12.col-sm-9-->

      </div><!--/row-->

      <div ng-include="'../../layout/footer.html'"></div>

    </div>


</section>
