<div ng-include="'../../layout/topnav.html'"></div>
<div ng-include="'validations/views/partials/validation.client.header.html'"></div>

<div class="container">

			<div class="row row-offcanvas row-offcanvas-right">

				<section name="sidebar" ng-include="'validations/views/partials/validation.client.sidebar.html'">
				</section>

				<div class="col-xs-12 col-sm-9">
					<p class="pull-right visible-xs">
						<button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
					</p>

					<div class="row">

						<!-- The validation view -->
						<section data-ng-controller="ValidationsController">
							<!-- The new validation form -->
							<form data-ng-submit="create()" novalidate>

							<div class="container">
									<div class="col-md-9">
											<div class="row">
													<h3 class="dark-grey">New Validation</h3>
													<hr>
											</div>

											<div class="row">

												<div class="form-group col-lg-6">
													<label>Table Name</label>
													<input type="text" name="name" class="form-control" id="name" type="text" data-ng-model="name" placeholder="Name" required>
												</div>

											</div>

											<div class="row">
												<div>
													<button type="submit" class="btn btn-primary">Submit</button>
												</div>
											</div>

											<div class="row">
												<!-- The error message element -->
												<div data-ng-show="error">
													<strong data-ng-bind="error"></strong>
												</div>
											</div>

										</div>

									</div>
						</section>

					</div><!--/row-->
				</div><!--/.col-xs-12.col-sm-9-->

			</div><!--/row-->

			<div ng-include="'../../layout/footer.html'"></div>

		</div>


</section>
