<div ng-include="'../../layout/topnav.html'"></div>
<div ng-include="'validations/views/partials/validation.client.header.html'"></div>

<div class="container">

			<div class="row row-offcanvas row-offcanvas-right">

				<section name="sidebar" ng-include="'validations/views/partials/validation.client.sidebar.html'">
				</section>

				<div class="col-xs-12 col-sm-9">
					<p class="pull-right visible-xs">
						<button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
					</p>

					<div class="row">

						<!-- The validation view -->
						<section data-ng-controller="ValidationsController" data-ng-init="findOne()">
							<div class="container">
									<div class="col-md-9">
											<div class="row">
													<h3 class="dark-grey">Validation Table</h3>

													<!-- Show the editing buttons to the article creator -->
													<!--<div data-ng-show="authentication.user._id == article.creator._id">-->
													<div>
														<a class="btn btn-primary" href="/#!/validations/{{validation._id}}/edit" disabled>Edit</a>
														<a class="btn btn-danger" disabled data-ng-click="showDialog('Delete Confirmation', 'Delete the record?')">Delete</a>
													</div>

													<hr>
											</div>

											<div class="row">
												<div class="form-group col-lg-12">
													<label>Table Name</label>
													<input type="" name="" class="form-control" id="" disabled value="{{validation.name}}">
												</div>
											</div>

											<hr>

										</div>

									</div>
						</section>

					</div><!--/row-->
				</div><!--/.col-xs-12.col-sm-9-->

			</div><!--/row-->

			<div ng-include="'../../layout/footer.html'"></div>

		</div>


</section>
