<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" data-ng-controller="NavController">
  <div class="list-group">
    <li class="list-group-item" ng-class="{active: ($location.path() == '/locations/create') }"><a href="#!/locations/create">Add New Location</a></li>
    <li class="list-group-item" ng-class="{active: ($location.path() == '/locations') }"><a href="#!/locations">View All Locations</a></li>
    <li class="list-group-item" ng-class="{active: ($location.path() == '/locations/structure') }"><a href="#!/locations/structure">View Location Structure</a></li>
    <li class="list-group-item" ng-class="{active: ($location.path() == '/locations/:locationId/validations') }"><a ng-href="{{urlListValidation}}">Validation Management</a></li>
  </div>
</div><!--/.sidebar-offcanvas-->
