<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" data-ng-controller="NavController">
  <div class="list-group">
    <li class="list-group-item" ng-class="{active: ($location.path() == '/locations/:locationId/validations/create') }"><a href="#!/locations/:locationId/validations/create">Add New Validation</a></li>
    <li class="list-group-item" ng-class="{active: ($location.path() == '/locations/:locationId/validations') }"><a href="#!/locations/:locationId/validations">View All Validations</a></li>
  </div>
</div><!--/.sidebar-offcanvas-->
