<div ng-include="'../../layout/topnav.html'"></div>
<div ng-include="'surveys/views/partials/survey.client.header.html'"></div>

<style>
    .table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
        border: 1px solid #dddddd;
    }

</style>

<div class="container">

    <div class="row row-offcanvas row-offcanvas-right">

        <section name="sidebar" ng-include="'surveys/views/partials/survey.client.sidebar.html'">
        </section>

        <div class="col-xs-12 col-sm-9">
            <p class="pull-right visible-xs">
                <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
            </p>

            <div class="row">

                <!-- The survey view -->
                <section data-ng-controller="SurveysController" data-ng-init="findOne()">
                    <div class="container">
                        <div class="col-md-9">
                            <div class="row">
                                <h3 class="dark-grey">Survey Data</h3>
                                <h5 class="dark-grey">Survey Name: <span>{{survey.name}}</span></h5>

                            </div>

                            <hr>

                            <div class="row">

                                <h4 ng-show="survey.questions[0].prompt">Prompt Questions</h4>
                                <table class="table table-condensed table-hover table-striped" ng-hide="loading">
                                    <!-- Header-->
                                    <tr class="panel-title">
                                        <!-- Content columns-->
                                        <th style="vertical-align:middle">GUI</th>
                                        <th style="vertical-align:middle">Title</th>
                                        <th style="vertical-align:middle">Order</th>
                                        <th style="vertical-align:middle">Disabled</th>
                                        <th style="vertical-align:middle">Required</th>

                                    </tr>

                                    <!--Row with the new item-->
                                    <tr ng-repeat="item in survey.questions[0].prompt">
                                        <!-- Content columns-->
                                        <td>{{item.type}}</td>
                                        <td>{{item.title}}</td>
                                        <td>{{item.order}}</td>
                                        <td>{{item.disabled}}</td>
                                        <td>{{item.required}}</td>
                                    </tr>

                                </table>

                                <!--AngularJS SPA CRUD table-->
                                <table class="table table-condensed table-hover table-striped" ng-hide="loading">
                                    <!-- Header-->
                                    <tr class="panel-title">
                                        <!-- Content columns-->
                                        <th style="vertical-align:middle">GUI</th>
                                        <th style="vertical-align:middle">Title</th>
                                        <th style="vertical-align:middle">Order</th>
                                        <th style="vertical-align:middle">Disabled</th>
                                        <th style="vertical-align:middle">Required</th>
                                        <th style="vertical-align:middle">Choices</th>
                                    </tr>

                                    <!--Row with the new item-->

                                    <tr ng-repeat="item in survey.questions[0].survey">
                                        <!-- Content columns-->
                                        <td>{{item.type}}</td>
                                        <td>{{item.titleEN}}<br>{{item.titleAR}}</td>
                                        <td>{{item.order}}</td>
                                        <td>{{item.disabled}}</td>
                                        <td>{{item.required}}</td>
                                        <td><span ng-repeat="choice in item.choices">
                                            <p>EN: {{choice.textEN}}</p>
                                            <p>AR: {{choice.textAR}}</p>
                                            <p>Generate SMS: {{choice.notify}}</p>
                                            <p ng-show="choice.goto">Goto: {{choice.goto}}</p>
                                            <hr>
                                        </span></td>
                                    </tr>
                                </table>

                                <!--Loading indicator-->
                                <img src="../images/loading.gif" ng-show="loading" class="center-block" title="Loading..." />

                            </div>


                        </div>

                    </div>
                </section>

            </div><!--/row-->
        </div><!--/.col-xs-12.col-sm-9-->

    </div><!--/row-->

    <div ng-include="'../../layout/footer.html'"></div>

</div>


</section>

