<div ng-include="'../../layout/topnav.html'"></div>

<div class="container">

			<div class="row row-offcanvas row-offcanvas-right">

				<section name="sidebar" ng-include="'users/views/partials/user.client.sidebar.html'">
				</section>

				<div class="col-xs-12 col-sm-9">
					<p class="pull-right visible-xs">
						<button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
					</p>

					<div class="row">
						<!-- The list users view -->
						<section data-ng-controller="UsersController" data-ng-init="find()">

							<h3 class="dark-grey">Users List</h3>

							<!-- The list of user -->
							<kendo-grid options="users">
							</kendo-grid>

							<!-- The list of user without kendo -->
							<!--
							<ul>
								<li data-ng-repeat="user in users">
									<a data-ng-href="#!/users/{{user._id}}" data-ng-bind="user.name"></a>
									<br>
									<small data-ng-bind="user.created | date:'medium'"></small>
									<small>/</small>
									<small data-ng-bind="user.creator.fullName"></small>
									<p data-ng-bind="user.content"></p>
								</li>
							</ul> -->
							<!-- If there are no users in the list, suggest the user's create a new user -->
							<div data-ng-hide="usersCount > 0">
								No users yet<span data-ng-show="{{authentication.user.role == 'admin'}}">, why don't you <a href="/#!/users/create">create one</a>?</span>
							</div>
						</section>

					</div><!--/row-->
				</div><!--/.col-xs-12.col-sm-9-->

			</div><!--/row-->

			<hr>

			<footer>
				<!--<p>© Trixcorp 2014</p>-->
			</footer>

		</div>
