<div ng-include="'../../layout/topnav.html'"></div>
<div ng-include="'brands/views/partials/brand.client.header.html'"></div>

<div class="container">

			<div class="row row-offcanvas row-offcanvas-right">

				<section name="sidebar" ng-include="'brands/views/partials/brand.client.sidebar.html'">
				</section>

				<div class="col-xs-12 col-sm-9">
					<p class="pull-right visible-xs">
						<button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
					</p>

					<div class="row">

						<!-- The brand view -->
						<section data-ng-controller="BrandsController" data-ng-init="findOne()">
							<div class="container">
									<div class="col-md-9">
											<div class="row">
													<h3 class="dark-grey">Main Brand Data</h3>
													<h5 class="dark-grey">Brand Status: <span>{{brand.status}}</span></h5>

													<!-- Show the editing buttons to the article creator -->
													<!--<div data-ng-show="authentication.user._id == article.creator._id">-->
													<div>
														<a class="btn btn-primary" href="/#!/brands/{{brand._id}}/edit">Edit</a>
														<a class="btn btn-danger" data-ng-click="showDialog('Delete Confirmation', 'Delete the record?')">Delete</a>
													</div>

													<div>
														<!-- The error message element -->
														<div data-ng-show="error">
                                                            <br><strong>
															<div error-directive compile="error"></div>
                                                            </strong>
														</div>
													</div>

													<hr>

													<h3 class="dark-grey">Name and Contact</h3>
													<h5 class="dark-grey">Brand</h5>
											</div>

											<div class="row">
												<div class="form-group col-lg-12">
													<label>Brand ID</label>
													<input type="" name="" class="form-control" id="" disabled value="{{brand._id}}">
												</div>

												<div class="form-group col-lg-6">
													<label>Account Name</label>
													<input type="" name="" class="form-control" id="" disabled value="{{authentication.user.account.name}}">
												</div>

												<div class="form-group col-lg-6">
													<label>Brand Name</label>
													<input type="" name="" class="form-control" id="" disabled value="{{brand.name}}">
												</div>

												<div class="form-group col-lg-12">
													<label>Background Image</label>
													<img src="/content/brand_images/{{brand.bgImage}}" />
												</div>

												<div class="form-group col-lg-6">
													<label>Country</label>
													<input type="" name="" class="form-control" id="" disabled value="{{brand.country}}">
												</div>

												<div class="form-group col-lg-6">
													<label>Emirate</label>
													<input type="" name="" class="form-control" id="" disabled value="{{brand.state}}">
												</div>

												<div class="form-group col-lg-6">
													<label>Sales Order No</label>
													<input type="" name="" class="form-control" id="" disabled value="{{brand.account[0].sales_order_no}}">
												</div>

												<div class="form-group col-lg-6">
													<label>Manager Phone Number</label>
													<input type="" name="" class="form-control" id="" disabled value="{{brand.phoneManager}}">
												</div>

											</div>

											<hr>

											<div class="row">
												<h5 class="dark-grey">Contact Person</h5>

												<div class="form-group col-lg-6">
													<label>Name</label>
													<input type="" name="" class="form-control" id="" disabled value="{{brand.contactPerson[0].name}}">
												</div>

												<div class="form-group col-lg-6">
													<label>Email</label>
													<input type="" name="" class="form-control" id="" disabled value="{{brand.contactPerson[0].email}}">
												</div>

												<div class="form-group col-lg-6">
													<label>Office phone</label>
													<input type="" name="" class="form-control" id="" disabled value="{{brand.contactPerson[0].phoneOffice}}">
												</div>

												<div class="form-group col-lg-6">
													<label>Mobile phone</label>
													<input type="" name="" class="form-control" id="" disabled value="{{brand.contactPerson[0].phoneCell}}">
												</div>
											</div>
										</div>

									</div>
						</section>

					</div><!--/row-->
				</div><!--/.col-xs-12.col-sm-9-->

			</div><!--/row-->

			<div ng-include="'../../layout/footer.html'"></div>

		</div>


</section>
