<nav class="navbar navbar-fixed-top navbar-inverse" data-ng-controller="NavController">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://app-surveymark.rhcloud.com">Landmark Group</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <!--<li data-ng-show="{{authentication.user.role == 'admin'}}" ng-class="{active: ($location.path() == '#!/') }"><a href="#!/">Account</a></li>-->
            <li ng-class="{active: ($location.path().split('/')[1] == 'accounts')}"><a href="#!/accounts">Account</a></li>
            <li ng-class="{active: ($location.path().split('/')[1] == 'surveys') }"><a href="#!/surveys">Surveys</a></li>
            <li ng-class="{active: ($location.path().split('/')[1] == 'reports') }"><a href="#!/reports">Reports</a></li>
            <li ng-class="{active: ($location.path().split('/')[1] == 'brands') }"><a href="#!/brands">Brands</a></li>
            <li ng-class="{active: ($location.path().split('/')[1] == 'locations') }"><a href="#!/locations">Locations</a></li>
          </ul>
          <nav class="navbar-right">
            <p style="color: #fff">Logged as <span data-ng-bind="authentication.user.fullName"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br><a href="/signout">Signout</a></p>
          </nav>
        </div><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </nav>
