<div ng-include="'../../layout/topnav.html'"></div>
<div ng-include="'brands/views/partials/brand.client.header.html'"></div>

<!-- The list brands view -->
<section data-ng-controller="BrandsController" data-ng-init="find()" style="margin-top: 80px;">

	<!-- The list of brand -->
	<kendo-grid options="brands">
	</kendo-grid>

	<!-- The list of brand without kendo -->
	<!--
	<ul>
		<li data-ng-repeat="brand in brands">
			<a data-ng-href="#!/brands/{{brand._id}}" data-ng-bind="brand.name"></a>
			<br>
			<small data-ng-bind="brand.created | date:'medium'"></small>
			<small>/</small>
			<small data-ng-bind="brand.creator.fullName"></small>
			<p data-ng-bind="brand.content"></p>
		</li>
	</ul> -->
	<!-- If there are no brands in the list, suggest the user's create a new brand -->
	<div data-ng-hide="!brands || brands.length">
		No brands yet<span data-ng-show="{{authentication.user.role == 'admin'}}">, why don't you <a href="/#!/brands/create">create one</a>?</span>
	</div>
</section>
