<div class="field row">
    <div class="col-md-2">{{field.field_titleEN}}:</div>
    <div class="col-md-4">
		<select ng-model="field.field_value" ng-required="field.field_required" ng-disabled="field.field_disabled">
			<option ng-repeat="option in field.field_options"
					ng-selected="option.option_value == field.field_value"
					value="{{option.option_id}}">
				{{option.option_titleEN}}
			</option>
        </select>
        <span class="required-error" ng-show="field.field_required && !field.field_value">* required</span>
    </div>
</div>
<br>
