<div ng-include="'../../layout/topnav.html'"></div>

<div class="container">

      <div class="row row-offcanvas row-offcanvas-right">

        <section name="sidebar" ng-include="'accounts/views/partials/account.client.sidebar.html'">
        </section>

        <div class="col-xs-12 col-sm-9">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>

          <div class="row">
            <!-- The list accounts view -->
            <section data-ng-controller="AccountsController" data-ng-init="find()">

              <h3 class="dark-grey">Accounts List</h3>

              <!-- The list of account -->
              <kendo-grid options="accounts">
              </kendo-grid>

              <!-- The list of account without kendo -->
              <!--
              <ul>
                <li data-ng-repeat="account in accounts">
                  <a data-ng-href="#!/accounts/{{account._id}}" data-ng-bind="account.name"></a>
                  <br>
                  <small data-ng-bind="account.created | date:'medium'"></small>
                  <small>/</small>
                  <small data-ng-bind="account.creator.fullName"></small>
                  <p data-ng-bind="account.content"></p>
                </li>
              </ul> -->
              <!-- If there are no accounts in the list, suggest the user's create a new account -->
              <div data-ng-hide="!accountsCount || accountsCount.length">
                No accounts yet<span data-ng-show="{{authentication.user.role == 'owner'}}">, why don't you <a href="/#!/accounts/create">create one</a>?</span>
              </div>
            </section>

          </div><!--/row-->
        </div><!--/.col-xs-12.col-sm-9-->

      </div><!--/row-->

      <hr>

      <footer>
        <!--<p>© Trixcorp 2014</p>-->
      </footer>

    </div>
