<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org">
<head>
	<!-- Use the 'title' property to render a page title  -->
	<title><%= title %> - Surveymark Admin Panel</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<link href="/lib/bootswatch-dist/css/bootstrap.min.css" rel="stylesheet" />
<!--
<link rel="stylesheet" href="http://cdn.kendostatic.com/2014.3.1411/styles/kendo.common-bootstrap.min.css" />
<link rel="stylesheet" href="http://cdn.kendostatic.com/2014.3.1411/styles/kendo.bootstrap.min.css" />
<link rel="stylesheet" href="http://cdn.kendostatic.com/2014.3.1411/styles/kendo.dataviz.min.css" />
<link rel="stylesheet" href="http://cdn.kendostatic.com/2014.3.1411/styles/kendo.dataviz.bootstrap.min.css" />
-->
<link rel="stylesheet" href="/content/kendo.common-bootstrap.min.css" />
<link rel="stylesheet" href="/content/kendo.bootstrap.min.css" />
<link rel="stylesheet" href="/content/kendo.dataviz.min.css" />
<link rel="stylesheet" href="/content/kendo.dataviz.bootstrap.min.css" />
<!--Pulling Awesome Font -->
<!--<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">-->
<link rel="stylesheet" href="/lib/components-font-awesome/css/font-awesome.min.css">
<link type="text/stylesheet" href="/content/style.css" rel="stylesheet">


    <link rel="stylesheet" href="/content/daterangepicker-bs2.css">

<style>
	@import url(http://fonts.googleapis.com/css?family=Roboto:400);
	body {
		background-color:#fff;
		-webkit-font-smoothing: antialiased;
		font: normal 14px Roboto,arial,sans-serif;
		padding-top: 70px;
	}
    .navbar-right a {color: lightskyblue !important;}
</style>

<script src="/lib/jquery/dist/jquery.min.js"></script>
<script src="/lib/bootswatch-dist/js/bootstrap.min.js"></script>


<!-- Toastr for Notifications in Validation module -->
<link rel="stylesheet" href="/lib/toastr/toastr.css">
<script src="/lib/toastr/toastr.js"></script>

<!--<script src="/lib/angular/angular.min.js"></script>-->
<!--<script src="http://cdn.kendostatic.com/2014.3.1316/js/angular.min.js"></script>-->
<!--
<script src="http://cdn.kendostatic.com/2014.3.1411/js/angular.min.js"></script>
<script src="http://cdn.kendostatic.com/2014.3.1411/js/kendo.all.min.js"></script>
<script src="http://cdn.kendostatic.com/2014.3.1411/js/kendo.timezones.min.js"></script>
-->


<script src="/content/angular.min.js"></script>
<script src="/content/kendo.all.min.js"></script>
<script src="/content/kendo.timezones.min.js"></script>

<script type="text/javascript" src="/lib/angular-route/angular-route.min.js"></script>
<script type="text/javascript" src="/lib/angular-resource/angular-resource.min.js"></script>

<script type="text/javascript" src="/lib/ng-file-upload/angular-file-upload-shim.min.js"></script> <!-- for no html5 browsers support -->
<script type="text/javascript" src="/lib/ng-file-upload/angular-file-upload.min.js"></script>
<script type="text/javascript" src="/lib/angular-sortable-view/src/angular-sortable-view.min.js"></script>

</head>
<body>

	<!-- Render AngularJS views  -->
	<section ng-view></section>

	<!-- Render the user object -->
	<script type="text/javascript">
		window.user = <%- user || 'null' %>;
	</script>

	<!-- Load local libraries -->
	<!--
	<script type="text/javascript" src="/lib/angular/angular.js"></script>
	<script type="text/javascript" src="/lib/angular-route/angular-route.js"></script>
	<script type="text/javascript" src="/lib/angular-resource/angular-resource.js"></script>
-->

	<!-- Load local kendo libraries -->
	<!--
	<script type="text/javascript" src="/scripts/jquery.min.js"></script>
	<script type="text/javascript" src="/scripts/kendo.all.min.js"></script>
	<script type="text/javascript" src="/scripts/angular-kendo.js"></script>
-->

	<!-- Multiselect for SurveyType in Survey module -->
	<link rel="stylesheet" href="/lib/oi.multiselect/dist/multiselect.min.css" />
	<script type="text/javascript" src="/lib/oi.multiselect/dist/multiselect-tpls.min.js"></script>
<!--	<script type="text/javascript" src="/lib/oi.multiselect/dist/multiselect.min.js"></script>-->
	<script type="text/javascript" src="content/multiselect2.js"></script>

	<!-- Load the accounts module -->
	<script type="text/javascript" src="/accounts/accounts.client.module.js"></script>
	<script type="text/javascript" src="/accounts/controllers/accounts.client.controller.js"></script>
	<script type="text/javascript" src="/accounts/services/accounts.client.service.js"></script>
	<script type="text/javascript" src="/accounts/config/accounts.client.routes.js"></script>


	<!-- Load the locations module -->
	<script type="text/javascript" src="/locations/locations.client.module.js"></script>
	<script type="text/javascript" src="/locations/controllers/locations.client.controller.js"></script>
	<script type="text/javascript" src="/locations/services/locations.client.service.js"></script>
	<script type="text/javascript" src="/locations/config/locations.client.routes.js"></script>

	<!-- Load the validations embedded with locations module -->
	<script type="text/javascript" src="/locations/controllers/validation_tables.client.controller.js"></script>
	<script type="text/javascript" src="/locations/controllers/validation_data.client.controller.js"></script>
	<script type="text/javascript" src="/locations/services/validation_tables.client.service.js"></script>


	<!-- Load the brands module -->
	<script type="text/javascript" src="/brands/brands.client.module.js"></script>
	<script type="text/javascript" src="/brands/controllers/brands.client.controller.js"></script>
	<script type="text/javascript" src="/brands/services/brands.client.service.js"></script>
	<script type="text/javascript" src="/brands/directives/error-directive.js"></script>
	<script type="text/javascript" src="/brands/config/brands.client.routes.js"></script>

	<!-- Load the validations module -->
	<script type="text/javascript" src="/validations/validations.client.module.js"></script>
	<script type="text/javascript" src="/validations/controllers/validations.client.controller.js"></script>
	<script type="text/javascript" src="/validations/services/validations.client.service.js"></script>
	<script type="text/javascript" src="/validations/config/validations.client.routes.js"></script>

	<!-- Load the surveys module -->
	<script type="text/javascript" src="/surveys/surveys.client.module.js"></script>
	<script type="text/javascript" src="/surveys/controllers/surveys.client.controller.js"></script>
	<script type="text/javascript" src="/surveys/services/surveys.client.service.js"></script>
	<script type="text/javascript" src="/surveys/config/surveys.client.routes.js"></script>

	<!-- Load the reports module -->
	<script type="text/javascript" src="/reports/reports.client.module.js"></script>
	<script type="text/javascript" src="/reports/controllers/reports.client.controller.js"></script>
	<script type="text/javascript" src="/reports/services/reports.client.service.js"></script>
	<script type="text/javascript" src="/reports/config/reports.client.routes.js"></script>

	<!-- Load the responses module -->
	<script type="text/javascript" src="/responses/responses.client.module.js"></script>
	<script type="text/javascript" src="/responses/controllers/responses.client.controller.js"></script>
	<script type="text/javascript" src="/responses/config/responses.client.routes.js"></script>
	<!--<script type="text/javascript" src="/responses/directives/csv-directive.js"></script>-->

	<!-- Load the users module -->
	<script type="text/javascript" src="/users/users.client.module.js"></script>
	<script type="text/javascript" src="/users/controllers/users.client.controller.js"></script>
	<script type="text/javascript" src="/users/services/users.client.service.js"></script>
	<script type="text/javascript" src="/users/config/users.client.routes.js"></script>


	<!--
  <script type="text/javascript" src="scripts/controllers/main.js"></script>
  <script type="text/javascript" src="scripts/controllers/create.js"></script>
  <script type="text/javascript" src="scripts/controllers/view.js"></script>
  <script type="text/javascript" src="scripts/controllers/header.js"></script>

  <script type="text/javascript" src="scripts/services/form-service.js"></script>
	-->

  <script type="text/javascript" src="surveys/directives/form-directive.js"></script>
  <script type="text/javascript" src="surveys/directives/field-directive.js"></script>

  <script type="text/javascript" src="content/ui-bootstrap-tpls-0.12.0.min.js"></script>



	<!-- Load the reports module -->
	<!--
	<script type="text/javascript" src="/reports/reports.client.module.js"></script>
	<script type="text/javascript" src="/reports/controllers/reports.client.controller.js"></script>
	<script type="text/javascript" src="/reports/services/reports.client.service.js"></script>
	<script type="text/javascript" src="/reports/config/reports.client.routes.js"></script>
	-->

	<!-- Load the dashboard module -->
	<script type="text/javascript" src="/dashboard/dashboard.client.module.js"></script>
	<script type="text/javascript" src="/dashboard/controllers/dashboard.client.controller.js"></script>
	<script type="text/javascript" src="/dashboard/config/dashboard.client.routes.js"></script>

	<!-- Load the users module -->
	<script type="text/javascript" src="/users/services/authentication.client.service.js"></script>

	<!-- Load the nav module -->
	<script type="text/javascript" src="/layout/nav.client.module.js"></script>
	<script type="text/javascript" src="/layout/nav.client.controller.js"></script>

	<!-- Load the dialog module -->
	<script type="text/javascript" src="/layout/dialog.client.module.js"></script>
	<script type="text/javascript" src="/layout/dialog.client.service.js"></script>

	<!--Load the moment module for timezone -->
	<script type="text/javascript" src="lib/moment/min/moment.min.js"></script>
	<script type="text/javascript" src="lib/moment-timezone/builds/moment-timezone-with-data.min.js"></script>
    <script type="text/javascript" src="lib/daterangepicker.js"></script>

	<!--Data export --><!--
	<script src="https://rawgithub.com/eligrey/FileSaver.js/master/FileSaver.js" type="text/javascript"></script>
	<script src="https://rawgithub.com/eligrey/Blob.js/master/Blob.js" type="text/javascript"></script>
	<script src="/content/csv_helper.js"></script>-->
	<script src="http://cdn.kendostatic.com/2015.1.318/js/jszip.min.js"></script>
	<!-- Load Pako ZLIB library to enable PDF compression -->
    <script src="http://cdn.kendostatic.com/2015.1.318/js/pako_deflate.min.js"></script>
<!--
	<script src="/content/jquery.csv.js"></script>

    <style>
        /*
            Use the DejaVu Sans font for display and embedding in the PDF file.
            The standard PDF fonts have no support for Unicode characters.
        */
        .k-grid {
            font-family: "DejaVu Sans", "Arial", sans-serif;
        }

        /* Hide the Grid header and pager during export */
        .k-pdf-export .k-grid-toolbar,
        .k-pdf-export .k-pager-wrap
        {
            display: none;
        }
    </style>

    <script>
        // Import DejaVu Sans font for embedding

        // NOTE: Only required if the Kendo UI stylesheets are loaded
        // from a different origin, e.g. cdn.kendostatic.com
        kendo.pdf.defineFont({
            "DejaVu Sans"             : "http://cdn.kendostatic.com/2014.3.1314/styles/fonts/DejaVu/DejaVuSans.ttf",
            "DejaVu Sans|Bold"        : "http://cdn.kendostatic.com/2014.3.1314/styles/fonts/DejaVu/DejaVuSans-Bold.ttf",
            "DejaVu Sans|Bold|Italic" : "http://cdn.kendostatic.com/2014.3.1314/styles/fonts/DejaVu/DejaVuSans-Oblique.ttf",
            "DejaVu Sans|Italic"      : "http://cdn.kendostatic.com/2014.3.1314/styles/fonts/DejaVu/DejaVuSans-Oblique.ttf"
        });
    </script>-->

	<!-- Bootstrap AngularJS application -->
	<script type="text/javascript" src="/application.js"></script>

</body>
</html>
